*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 4vmin;
  font-family: 'Poppins', 'Lato', sans-serif;
}
.parent {
  display: flex;
  flex-direction: column;
  background-image: url('https://images.larepubliquedespyrenees.fr/2019/07/16/5d2e099aa43f5ece3bf6d51f/golden/la-mjc-des-fleurs-a-investi.jpg');
  background-size: cover;
  background-position: top center;
  height: 90vh;
  opacity: 0.95;
}
.dead_space {
  height: 12vh;
}
.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  top: 150px;
}
.arrow {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 20vw;
  height: 16vh;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
  margin: auto;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.testooo {
  width: 100%;
}
.wrap {
  width: 70%;
}
.testooo:hover {
  cursor: crosshair;
}
.menu_fixe {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #D6859E;
  color: white;
  overflow: hidden;
  z-index: 101;
}
.menu_fixe div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  outline: none;
  font-family: 'Roboto Condensed', 'Poppins', sans-serif;
}
.menu_fixe div h2 {
  margin: 0;
  font-size: 3vmin;
  text-shadow: 1px 2px black;
}
.menu_fixe div h1 {
  margin: 0;
  font-size: 5vmin;
}
.menu1 {
  width: 25%;
}
.menu2 {
  width: 25%;
}
.menu3 {
  width: 25%;
}
.menu4 {
  width: 25%;
}
nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 0;
  top: 50%;
  z-index: 100;
}
nav ul {
  margin: 10px 5px;
}
nav ul li {
  position: relative;
  left: 12px;
  flex-direction: column;
  background: white;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  list-style: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
nav ul li:hover {
  transform: scale(1.2);
}
.noire {
  background-color: black;
}
#btnmail {
  color: white;
}
#rose {
  color: #D6859E;
}


/* section activités */

.bien {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color: rgba(125, 183, 163, 1);
   
}
.bienetre {
    width: 70%;
    height: 50%;
    border-radius: 20%;
    background: white;
    left: auto;
    right: auto;
    top: 10%;
    border:  0.3rem solid;
    align-items: center;
}
.imgmjc {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    width: 37%;
    margin-left: auto;
    margin-right: auto;
}
.music {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
}
.enfant {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.sport {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.ado {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.social {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}


.danse {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(201, 51, 100, 1);
}
.dansemjc {
    width: 70%;
    height: 50%;
    border-radius: 20%;
    background: white;
    left: auto;
    right: auto;
    top: 10%;
    border:  0.3rem solid;
    align-items: center;
    
}
.forme {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color:rgba(60, 150, 62, 1);
}
.formemjc {
    width: 70%;
    height: 50%;
    border-radius: 20%;
    background: white;
    left: auto;
    right: auto;
    top: 10%;
    border:  0.3rem solid;
    align-items: center;
}
.musique {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color: rgba(223, 155, 25, 1);
  
}
.musiquemjc {
    width: 70%;
    height: 50%;
    border-radius: 20%;
    background: white;
    left: auto;
    right: auto;
    top: 10%;
    border:  0.3rem solid;
    align-items: center;
}
.lien {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(54, 150, 161, 1);
  
}
.lienmjc {
    width: 70%;
    height: 50%;
    border-radius: 20%;
    background: white;
    left: auto;
    right: auto;
    top: 10%;
    border:  0.3rem solid;
    align-items: center;
}
.alsh {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color:rgba(103, 44, 42, 1);
   
}
.alshmjc {
    width: 70%;
    height: 50%;
    border-radius: 20%;
    background: white;
    left: auto;
    right: auto;
    top: 10%;
    border:  0.3rem solid;
    align-items: center;
}
.jeune {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color: rgba(214, 133, 158, 1);

}
.jeunemjc {
    width: 70%;
    height: 50%;
    border-radius: 20%;
    background: white;
    left: auto;
    right: auto;
    top: 10%;
    border:  0.3rem solid;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top : 0;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}
h2 {
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 5%;
    margin: 5%;
    font-family: 'Lato', sans-serif;

}
