@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    background-color: #D6859E;
    font-family: 'Nova Square', cursive;
}


section {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 24px;
    line-height: 29px;
}

hr {
    width: 100px;
    height: 0px;
    left: 130px;
    top: 107px;
    border: 1px solid #6B5555;
}

/* Fond blanc */

.fond {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 50px;
    margin: auto;
    margin-top: 3%;
    width: 90vw;
    height: 100vh;
}


/* Photo de profil */

.profilpicture {
    position: relative;
    margin-top: 3%;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    box-shadow: black 1px 1px 1px 1px;
}


.nom {
    position: absolute;
    top: 27%;
    width: 90vw;
    margin-top: 30px;
}

.titre {
    text-align: center;
    color: #C93364;
    font-weight: 400;
    font-size: 18px;
    
}

.edit.icon {
    color: black;
    position: absolute;
    left: 90%;
    width: 20px;
    height: 5px;
    border-radius: 1px;
    border: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .edit.icon:before {
    content: '';
    position: absolute;
    left: -12px;
    top: -1px;
    width: 0px;
    height: 0px;
    border-left: solid 5px transparent;
    border-right: solid 5px currentColor;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
  }
  
  



.txt {
    color: black;
    font-weight: 400;
    font-size: 20px;
}

















/* Croix CLOSE */

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    opacity: 0.80;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: black;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}