*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
}

/* section header*/

header {
    background-color: #D6859E;
}

.logo {
    width: auto;
    text-align: center;
    padding-top: 1rem;

}
.container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}
.container1 img {
    width: 50%;

}
.container1 {
    width: 50%;
    text-align: center;

}
.container2 {
    width: 50%;
    text-align: center;
}
.container2 h2 {
    font-size: 0.875rem;
    padding-bottom: 10px;
}

.container2 p {
    font-size: 0.6875rem;
}

/*section 2 */


.content {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;

}


.post {
    box-shadow: 0 1px 6px 1px rgba(114, 75, 102, 0.336);
    width: 40%;
    margin: 10px;

}

.post-img-1 {
    background: url(./img/gim.jpg);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.post-img-2 {
    background: url(./img/capoeira.jpg);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.post-img-3 {
    background: url(./img/musculation.jpg);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.post-img-4 {
    background: url(./img/volleyball.jpg);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.post-img-5 {
    background: url(./img/trekking-montagne.jpg);
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.post-body {
    padding: 15px;
    text-align: center;
}

.post-body h3{
    color: #D6859E;
    font-size: 0.875rem;
    text-align: center;
    padding-bottom: 5px;
}

.post-body p{
    font-size: 0.6875rem;
    text-align: center;
}

.post-body a{
    font-size: 10px;
    position: relative;
    bottom: 0;
    left: 20%;
}


footer h4 {
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

#rose { 
    color: #C93364;
    font-size: 18px;
    position: absolute;
    line-height:normal;
    margin-top:2px;
    
}